[default]
upload_dir = "upload/"
upload_url = "/upload"
turnstile_secret = ""
turnstile_url = ""

[default.databases.startpage]
url = "mysql://startpage:startpage@127.0.0.1/startpage"

[default.databases.cache]
url = "redis://localhost:6379/0"

[default.jwt]
# you can generate a secret with `openssl rand -hex 32`
secret = ""
expires_in = "1w"
